[Unit]
Description=Sink AP
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/bin/bash /etc/sink-ap/runsp.sh

[Install]
WantedBy=multi-user.target


