[Unit]
Description=Webservice Sink

[Service]
Type=simple
Restart=always
ExecStart=/etc/sink/enviroment/bin/python /etc/sink/webservice/run.py

[Install]
WantedBy=multi-user.target
